.footer {
  position: static;
  bottom: 0%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100vw;
  background-color: white; /* Optional: Add a background color */
}

.midText {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  margin: 0 15px;
  font-size: 1.5rem; /* Base font size */
}

.be {
  display: flex;
  font-size: 1rem; /* Base font size */
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  color: #0abab5;
}

.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-links a {
  color: black;
  text-decoration: none;
  font-size: 2rem; /* Base font size */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  color: #0abab5;
}

@media (max-width: 1200px) {
  .footer {
    padding: 0 5%;
  }

  .midText {
    font-size: 1.25rem;
  }

  .be {
    font-size: 0.9rem;
  }

  .social-links a {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px 2%;
    position: relative;
  }

  .midText {
    font-size: 2vw;
    margin: 10px 0;
  }

  .be {
    font-size: 2vw;
  }

  .social-links {
    justify-content: center;
    margin-top: 10px;
  }

  .social-links a {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 1%;
  }

  .midText {
    font-size: 3vw;
    margin: 5px 0;
  }

  .be {
    font-size: 2vw;
  }

  .social-links a {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px;
  }

  .midText {
    font-size: 3vw;
    margin: 5px 0;
  }

  .be {
    font-size: 2vw;
  }

  .social-links a {
    font-size: 4vw;
  }
}
