.footer {
  position: static;
  bottom: 0%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upperf{
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  width: 100vw;
  flex-direction: row;
}
.midText {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-left: 2vw;
  font-size: 1.5rem; /* Base font size */
}

.be {
  display: flex;
  font-size: 1rem; /* Base font size */
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  color: #0abab5;
}

.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-links a {
  color: black;
  text-decoration: none;
  font-size: 2rem; /* Base font size */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  color: #0abab5;
}
.copyright{
  color: gray;
  margin-top: -1%;
  font-size: 0.9vw;
}


@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px 2%;
    position: relative;
  }

  .midText {
    font-size: 1.5rem;

  }

  .be {
    margin-top: 10px;
    font-size: 1rem;
  }

  .social-links {
    justify-content: center;
    margin-top: 10px;
  }

  .social-links a {
    font-size: 3vw;
  }
  .copyright{

    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 1%;
  }

  .midText {
    font-size: 1.2rem;

  }

  .be {
    font-size: 1rem;
  }

  .social-links a {
    font-size: 4vw;
  }
  .copyright{
    margin-top: 0;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px;
  }

  .midText {
    font-size: 1rem;

  }

  .be {
    margin-top: -5%;
    font-size: 0.9rem;
  }

  .social-links a {
    font-size: 6vw;
  }
  .copyright{
     
    font-size: 0.7rem;
  }
  .upperf{
    display: flex;
align-items: center;
    flex-direction: column;
  }
}
