.product-showcase {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 150%;
  height: 80vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.product-showcase.expanded .section1,
.product-showcase.expanded .section2,
.product-showcase.expanded .section3 {
  transition: transform 0.5s ease;
}

.product-showcase.expanded .section1 {
  transform: translateX(-150%);
}

.product-showcase.expanded .section2 {
  z-index: 400;
  transform: translateX(0);
}

.product-showcase.expanded .section3 {
  z-index: 399;
  transform: translateX(0);
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(40vw);  transition: transform 0.5s ease;

}

.section2 {
  z-index: 400;
  cursor: pointer;
  transform: translateX(50vw);  transition: transform 0.5s ease;

}

.section3 {
  width: fit-content;
  transform: translateX(150vw);  transition: transform 0.5s ease;

}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: -4px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #00ced1;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 3.5px;
}

.digit {
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: inline-block;
  opacity: 1;
}

.product-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.count {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 150px;
  margin-bottom: -40px;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.order-now-large {
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: 2px solid rgb(10, 186, 181);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(10, 186, 181);
  padding: 15px 20px;
  margin-top: 40px;
  width: 150px;
  border-radius: 50px;
  font-weight: 700;
  transition: 258ms;
}

.order-now-large:hover {
  color: #ffffff;
  background: rgb(10, 186, 181);
}

.out-of-stock {
  color: red;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 10px;
}

.product-image {
  
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  transition: transform 0.3s ease;
}

.arrow {
  background-color: transparent; /* No background */
  border: none; /* No border */
  font-size: 24px; /* Adjust size */
  cursor: pointer; /* Pointer cursor */
  z-index: 20; /* Ensure arrows are on top */
  position: absolute;
}
.arrow:hover{
  color: #0abab5;
}
.left-arrow {
  left: -40px;
}

.right-arrow {
  right: -40px;
}

.button-container {
  position: absolute; /* Position the container absolutely if needed */
  top: 2%; /* Adjust as needed */
  right: 6%; /* Adjust as needed */
}

.explore-btn {
  z-index: 500;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
  width: 100px;
  padding: 5px 10px;
  background: transparent;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add transition for opacity */
  transform-origin: top right;
  position: relative; /* Set position relative for stacking */
}

.explore-btn:hover {
  background-color: black;
  transform: scale(1.01);
  color: white;
}

.explore-btn:focus {
  outline: none; /* Remove focus outline if undesired */
}

.explore-btn:active {
  transform: scale(0.95);
}

.btn-explore-x {
  z-index: 500;
  border: none; /* No border for the close button */
  background: transparent; /* Transparent background */
  font-size: 24px; /* Larger font for the close icon */
  position: absolute; /* Position it absolutely over the explore button */
  right: 10%; /* Adjust as needed */
}

.btn-explore-x:hover {
  transform: scale(1.05);
  color: #0abab5;
}

.prix {
  position: absolute;
  bottom: 2%;
  left: 2%;
  opacity: 0;
  transition: 0.5s;
  font-weight: 700;
  color: white;
  z-index: 5000;
  background-color: #0abab5;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section2:hover .prix {
  opacity: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  color: #333;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

.header h1 {
  position: absolute;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #0abab5;
  text-align: center;
  left: 2%;
}

.header h1 span {
  display: block;
  font-size: 1.2rem;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.product-info {
  position: absolute;
  right: 2%;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  margin-top: 5px;
}

.content {
  scale: 0.9;
  flex-grow: 1;
  margin-top: 10px;
}

.content h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0abab5;
}

.content p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #333;
  margin: 3px 0;
}

.care-instructions {
  margin-top: 8px;
}

.care-instructions p {
  display: flex;
  align-items: center;
  margin: 3px 0;
}

.care-instructions i {
  margin-right: 6px;
  color: #0abab5;
  font-size: 1rem;
}

.footerInf {
  text-align: center;
  margin-top: 15px;
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.footerInf img {
  width: 6vw;
  opacity: 0.8;
}
.packD{
  width: 65%;
}
.recycle{
  background-color: #00ced1;
  width: fit-content;
}


.leBlurIn {
  animation-name: leBlurIn;
  animation-duration: 0.2s; /* Adjust the duration as needed */
  animation-timing-function: ease-out;
}

@keyframes leBlurIn {
  from {
      transform: scaleX(0.2); /* Start with a narrow horizontal scale */
      filter: blur(20px); /* Apply a heavy blur */
      opacity: 0; /* Start invisible */
  }
  to {
      transform: scaleX(1); /* Expand to full width */
      filter: blur(0px); /* Remove the blur */
      opacity: 1; /* Fade in */
  }
}

@media (max-width: 1024px) {
  .product-showcase.expanded .section1 {
    transform: translateY(-150%);
  }
  
  .product-showcase.expanded .section2 {
    transform: translateY(-50%);
  }
  
  .product-showcase.expanded .section3 {
    display: flex;
    transform: translateY(-30%); 

  }
  .product-showcase {
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
    width: 90%;
  }

  .order-now-large {
    font-size: 25px;
    width: 250px;
    border: 4px solid;
    margin-bottom: 10px;
  }
  .title {
    font-size: 76px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .subtitle {

    font-weight: 700;
    font-size: 26px;
    letter-spacing: 3px;
  }
  
  .section1 {
    margin-top: 55px;
    margin-bottom: 15px;
    transform: translateY(0);
  }

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 400;
    transform: translateY(0);
  }

  .section3 {
    margin-bottom: 15px;
    height: fit-content;
    display: none;
    transform: translateY(10%);

  }
  .footerInf img {
    width: 15vw;
  }
  .footerInf {
    text-align: center;
    margin-top: 15px;
    position: relative;
    bottom: 0%;
    right: 0%;
  }
  .header {
    position: relative;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .header h1 {
    position: relative;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #0abab5;
    text-align: center;
    left: 0%;
  }
  
  .header h1 span {
    display: block;
    font-size: 2.5rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .product-info {
    position: relative;
    right: 0%;
    font-size: 1.5rem;
    color: #666;
    text-align: center;
    margin-top: -25px;
  }
  .content {
    margin-top: 5%;
    scale: 1;
display: flex; flex-direction: column;align-items: center;
  }
  
  .content h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0abab5;
  }
  .packD{
    width: 65%;
    text-align: center;
  }
  .content p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #333;
    margin: 10px 0;
  }
  .care-instructions {
    margin-top: 8px;
    margin-bottom: 5px;
  }
  
  .care-instructions p {
    display: flex;
    align-items: center;justify-content: center;
    margin: 3px 0;

  }
  
  .care-instructions i {
    margin-right: 6px;
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .product-showcase.expanded .section1 {
    transform: translateY(-150%);
    margin-top: 30px;
  }
  
  .product-showcase.expanded .section2 {
    transform: translateY(-35vh);
  }
  
  .product-showcase.expanded .section3 {
    display: flex;
    transform: translateY(-25vh);
    margin-bottom: -20vh;
    flex-direction: column;
  }

  .explore-btn, .btn-explore-x {
    position: fixed;
    top: 3%;
  }
  
  .explore-btn {
    right: 5%;
  }

  .btn-explore-x {
    right: 10%;
  }
  .left-arrow {
    left: 10px; /* Adjust position for smaller screens */
  }

  .right-arrow {
    right: 10px; /* Adjust position for smaller screens */
  }

  /* Additional styles for smaller screen adjustments */
  .arrow {
    font-size: 20px; /* Slightly smaller font size for arrows */
    top: 50%; /* Center arrows vertically */
    transform: translateY(-50%); /* Adjust to center */
  }
  .section1 {
    margin-top: 10px;
    transform: translateY(0);
  }
  .section3 {
    display: none;
    height: fit-content;
    transform: translateY(10%);
    margin-bottom: 15px;
  }

  .product-image {
    scale: 1;
    height: auto;
  }

  .order-now-large {
    font-size: 12px;
    margin-top: 20px;
    width: 150px;
    border: 3px solid;
  }

  .count {
    font-size: 70px;
    margin-bottom: -5px;
  }

  .subtitle {
    font-size: 2.5vw;
    font-weight: 500;
  }

  .title {
    font-size: 7vw;
  }

  .label {
    font-size: 14px;
  }

  .prix {
    bottom: 5%;
    left: 5%;
  }
  .footerInf img {
    width: 30vw;
  }
  .footerInf {
    text-align: center;
    margin-top: 15px;
    position: relative;
    bottom: 0%;
    right: 0%;
  }

  .header h1 {
    font-size: 2.5rem;
  }
  
  .header h1 span {
    font-size: 1.5rem;
  }
  
  .product-info {
    position: relative;
    right: 0%;
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-top: -25px;
  }
  .content {
    margin-top: 25%;
    scale: 1;
display: flex; flex-direction: column;align-items: center;
  }
  
  .content h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0abab5;
  }
  .packD{
    width:100%;
    text-align: justify;
    text-align-last: center;
  }
  .content p {
    text-align: justify;
    text-align-last: center;
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
    margin: 10px 0;
  }
  .care-instructions {
    margin-top: 8px;
    margin-bottom: 5px;
  }
  
  .care-instructions p {
    display: flex;
    align-items: center;justify-content: center;
    margin: 4px 0;font-size: 0.8rem;

  }
  .care-instructions img{
    width: 5vw;
  }
  .care-instructions i {
    margin-right: 6px;
    font-size: 1rem;
  }
  .recycle p{
    font-size: 1rem;
  }
}
